.find-container{
    position: relative;
    padding-top:150px;
    min-width: 750px;
    font-family: "Gowun Dodum", sans-serif;
}
#logo {
    width: 200px;
    height: 200px;
    margin: 50px auto 0;
    background: url('../../../img/kickeat_logo.png');
    background-size: cover;
    background-position: center;
}
#logo-text {
    text-align: center;
    color:#b21848;
    font-size: 40px;
    margin-bottom: 50px;
}
.find-box {
    display: flex;
    justify-content: center;
    height: 60px;
    gap: 10px;
}
.find-box>input {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #b21848;
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1.2em;
}
.find-box input[type=text] {
    max-width: 600px;
    width: 50%;
}
#plus-btn, #search-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b21848;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
#plus-btn:hover, #search-btn:hover {
    background-color: #bd3c63;
}


/* ===== findListItem CSS ===== */
.find-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1300px;
    margin: 50px auto;
}
.find-list-item {
    width: 300px;
    height: 350px;
    margin: 10px auto;
    border: 2px solid #b21848;
    border-radius: 10px;
    text-align: center;
}
.list-item-img {
    width: 250px;
    height: 250px;
    background: url('../../../img/pasta.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    
}
@media(max-width: 1500px) {
    .find-list {
        grid-template-columns: repeat(3, 1fr);
        width: 1000px;
    }
}
@media(max-width: 1100px) {
    .find-list {
        grid-template-columns: repeat(2, 1fr);
        width: 700px;
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}
::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #979797;
}