.menu-bar{
    position: relative;
    z-index: 100;
}

.menu-button {
    top:50%;
    transform: translateY(-50%);
    position: fixed;
    background-color: blueviolet;
    width:80px;
    height:80px;
    right:-90px;
    border-radius: 100%;
    transition: all 1s;
}

.menu-button:hover {
    cursor: pointer;
}

.menu-list {
    top:50%;
    transform: translateY(-50%);
    position: fixed;
    width:100px;
    height:200px;
    right:-200px;
    background-color: blueviolet;
    transition: all 1s;
}