.main-container{
    position: relative;
    padding-top:150px;
    max-width: 1500px;
    margin: auto;
}

.main-content-title{
    padding-left: 20px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:28px;
    color:#2c0813;
}

.main-content-title > p{
    display: inline;
    color:#b21848;
    font-weight: bold;
}

.slider-image-banner {
    position: relative;
    width:100%;
    max-width: 1500px;
    height:30vw;
    max-height:450px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:1vw;
    border-radius: 7px;
}

.dots_custom {
    display: inline-block;
    vertical-align: middle;
    margin: auto 0;
    padding: 0;
}

.dots_custom li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 6px;
    padding: 0;
}

.dots_custom li button {
    border: none;
    background: #363636;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 10px;
    width: 4vw;
    border-radius: 5px;
    padding: 0;
}

.dots_custom li button{
    background-color: #c79aa8;
}
.dots_custom li.slick-active button {
    background-color: #b21848;
}

#slider-img-1{
    background-color: beige;
}

#slider-img-2{
    background-color: rgb(184, 184, 140);
}
#slider-img-3{
    background-color: rgb(154, 236, 147);
}
#slider-img-4{
    background-color: rgb(124, 70, 194);
}
#slider-img-5{
    background-color: rgb(110, 61, 91);
}

.main-today{
    width:80%;
    max-width:1024px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin:40px auto 180px;
    text-align: center;
}
.main-today ul {
    height: 40px;
    padding-top: 20px;
}
.main-today li {
    float: left;
    line-height: 40px;
    width: 10%;
    padding: 0 10px;
    border: 1px solid #aaa;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0 10px;
}
.main-today-left, .main-today-right{
    width:80%;
    min-width: 150px;
    margin:auto;
    padding: 20px 0;
    position: relative;
    border: 2px solid #ddd;
    border-radius: 20px;
}
#pop-res-photo, #pop-rev-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#medal {
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
}
.main-today-left>span, .main-today-right>span {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size:22px;
    font-weight: bold;
}