.mypage-container{
    background-color: aquamarine;
    position: relative;
    padding-top:150px;
    margin: 0 auto;
    width: 60%;
    min-width: 800px;
    max-width: 900px;
    background-color: yellow;
}
#wishlist-box{
    display: grid;
    width: 100%;
    flex-direction: row;
}
#graph-title{
    display: flex;
    text-align: center;
    margin: 0 auto;
}
#graph-box{
    width: 500px;
    display: flex;
    justify-content: center;
    padding-bottom: 20vh;
    flex-direction: column; 
    background-color: bisque;
}