.mypage-container{
    position: relative;
    padding-top:150px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
#wishlist-box{
    width: 100%;
    flex-direction: row;
}
#graph-title{
    display: flex;
    text-align: center;
    margin: 0 auto;
}
#graph-box{
    width: 500px;
    display: flex;
    justify-content: center;
    padding-bottom: 20vh;
    flex-direction: column; 
    background-color: bisque;
}